[submodule "verl"]
	path = verl
	url = https://github.com/mchen644/verl.git
[submodule "external/webshop-minimal"]
	path = external/webshop-minimal
	url = git@github.com:ZihanWang314/webshop-minimal.git
	branch = xjin-alignment
[submodule "external/kimina-lean-server"]
	path = external/kimina-lean-server
	url = https://github.com/project-numina/kimina-lean-server.git
